.quartes__box{
  padding: 0 0 168px 86px;
}

.quartes__title{
  font-family: "Fraunces" , "Verdana" , sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin: 0 0 72px;
}

.quartes__list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.quartes__item{
  margin-right: 108px;
}

.quartes__img{
  margin-bottom: 46px;
}

.quartes__subtitle{
  font-family: "Fraunces" , "Verdana" , sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin: 0;
  margin-bottom: 24px;
}

.quartes__sublink,.quartes__link{
  font-family: "Barlow" , "Verdana" , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  line-height: 26px;
  color: #333D4B;
  margin: 0;
}

.quartes__link{
  text-decoration: none;
}

.quartes__subtext{
  margin: 0;
}

@media only screen and (min-width:931px) and (max-width:988px){
  .quartes__subtitle{
    font-size: 27px;
  }
}

@media only screen and (min-width:768px) and (max-width:930px){

  .quartes__box{
    padding: 0 0 168px 0;
  }
  
  .quartes__item{
    width: 222px;
    margin-right: 10px;
  }

  .quartes__subtitle{
    font-size: 26px;
  }
}

@media only screen and (max-width:768px){
  
  .quartes__box{
    padding: 0 0 168px 0;
  }
  
  .quartes__item{
    width: 222px;
    margin-right: 10px;
  }
  
}

@media only screen and (max-width:670px){
  
  .quartes__box{
    padding: 0 0 168px 0;
  }
  
  .quartes__title{
    text-align: center;
  }
  
  .quartes__list{
    display: block;
  }
  
  .quartes__item{
    width: 327px;
    margin: 0 auto;
    margin-bottom: 75px;
  }
  
  .quartes__item:nth-child(3){
    margin-bottom: 0;
  }
  
  .quartes__img{
    display: block;
    margin: 0 auto;
    margin-bottom: 46px;
  }
  
  .quartes__subtitle{
    font-family: "Fraunces" , "Verdana" , sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    line-height: 36px;
  }
  
  .quartes__subtext{
    text-align: center;
  }
  
  .quartes__link{
    text-align: center;
  }
}

@media only screen and (min-width:671px) and (max-width:768px){

  .quartes__subtitle{
    font-size: 25px;
  }

}